rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Default catch-all
    match /{document=**} {
      allow read, write: if true;
    }

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isUser(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }

    function isAdmin() {
      return isSignedIn() && (
        exists(/databases/$(database)/documents/admins/$(request.auth.uid)) ||
        request.auth.token.email == 'coltcollect@gmail.com' ||
        request.auth.token.email == 'astratego@colt.market'
      );
    }
  }
}
